{% extends "sm.html" %}
{% from "macros.html" import book, methodic, snapshot %}

{% block title -%}
    {{ title }} | Справка | {{ app.short }}
{%- endblock %}

{% block appname -%}
    <a href="/" title="{{ app.name }}">{{ app.short }}</a>
{%- endblock %}

{% block toolbar %}
    <div id="toolbar">
        <ul>
            <li>
                <a href="/" title="Главная">
                    <img src="/images/home.png" alt="На главную" />
                    <span>Главная</span>
                </a>
            </li>
        
            <li>
                <a href="/{{ name }}">
                    <img src="/images/model.png">
                    <span>Модель</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{#         <div class="block menu">
            <div class="title">Ссылки</div>
            <ul>
                <li>
                    
                </li>
                
                <li>
                    
                </li>
            </ul>
        </div>
#}

{% block content %}
    <div class="aside right">

    </div>
    
    <div id="content" class="aside-right">
        <h1>Методические рекомендации по модели "{{ title }}"</h1>

        {% block article %}{% endblock %}
    </div>
{% endblock %}




