{% extends "sm.html" %}
{% import "form.html" as form %}

{% block title -%}
    {{ title }} | Справка | {{ app.short }}
{%- endblock %}

{% block appname -%}
    <a href="/" title="{{ app.name }}">{{ app.short }}</a>
{%- endblock %}

{% block toolbar %}
    <div id="toolbar">
        <ul>
            <li>
                <a href="/{{ name }}">
                    <img src="/images/model.png">
                    <span>Модель</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="aside right">
        <div class="block menu">
            <div class="title">Ссылки</div>
            <ul>
                <li>
                    <a href="http://fdo.tusur.ru/study/library/info.php?id=1855239E5B1EFD1DC62572600034B9C1" title="Мицель А. А., Грибанова Е. Б. Имитационное моделирование экономических процессов. Учебно-методическое пособие. Томск: ТМЦ ДО, 2007">Учебно-методическое пособие</a>
                </li>
                
                <li>
                    <a href="http://fdo.tusur.ru/study/library/info.php?id=AE82A6226422FAF3C6257260003504A7" title="Мицель А. А., Грибанова Е. Б. Имитационное моделирование экономических процессов. Учебное пособие. Томск: ТМЦ ДО, 2007">Учебное пособие</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="content" class="aside-right">
        <h1>Методические рекомендации по модели "{{ title }}"</h1>

        {% block article %}{% endblock %}
    </div>
{% endblock %}




