{% extends "sm.html" %}

{% block title -%}
  {{ title }} | {{ app.short }}
{%- endblock %}

{% block appname -%}
    <a href="/" title="{{ app.name }}">{{ app.short }}</a>
{%- endblock %}

{% block toolbar %}
    <div id="toolbar">
        <ul>
            <li>
                <a href="/" title="Главная">
                    <img src="/images/home.png" alt="На главную" />
                    <span>Главная</span>
                </a>
            </li>
            
            {% if shorten %}
            <li>
                <a href="{{ shorten }}" id="permalink" title="Поделиться ссылкой на модель">
                    <img src="/images/permalink.png" alt="Ссылка" />
                    <span>Ссылка</span>
                </a>
            </li>
            {% endif %}
            
            <li>
                <a href="/help/{{ name }}" title="Методические рекомендации">
                    <img src="/images/help.png" alt="Справка" />
                    <span>Справка</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
  {% block input %}{% endblock %}
  <div id="output" class="aside-left">
      {% if output %}
        {% block output %}{% endblock %}
      {% else %}
        {% block about %}{% endblock %}
      {% endif %}
  </div>
{% endblock %}
