{% extends "message.html" %}

{% block title %}Страница не найдена{% endblock title %}

{% block message %}
    <img src="/images/sad.png" class="icon" alt="" />
    <h4>Страница не найдена</h4>
    <p>К сожалению, запрошенной Вами страницы не существует.</p>
    <p class="variants">
        <a href="javascript:history.back()"><button>Вернуться назад</button></a>
        <a href="/"><button>Перейти на главную</button></a>
        <a href="mailto:altaisoft@gmail.com"><button>Написать автору</button></a>
    </p>
{% endblock message %}
