{% extends "model.html" %}
{% import "form.html" as form %}

{% block input %}
    <div class="block aside left properties">
        <div class="title">Параметры</div>
        <form action="/warehouse" method="post" class="properties">
            {{ form.input(input.lot_size, "lot_size", label='Размер партии:', unit='шт') }}
            {{ form.input(input.limit, "limit", label='Минимальный запас:', unit='шт') }}
            {{ form.input(input.amount, "amount", label='Начальный запас:', unit='шт') }}
            {{ form.input(input.total_time, "total_time", label='Период работы:', unit='ч') }}
            {{ form.input(input.times, "times", label='Число итераций:') }}
            <fieldset>
                <div class="legend">Спрос, в час</div>
                
                {% with %}
                    {% if input.demand is defined %}
                        {% set demand = input.demand %}
                    {% else %}
                        {% set demand = {'mu' : '', sigma : ''} %}
                    {% endif %}
                    {{ form.input(demand.mu, "demand.mu", label='В среднем:', unit='шт') }}
                    {{ form.input(demand.sigma, "demand.sigma", label='Отклонение:', unit='шт') }}
                {% endwith %}
            </fieldset>
            
            <fieldset>
                <div class="legend">Время поставки партии</div>
                
                {% with %}
                    {% if input.supply is defined %}
                        {% set supply = input.supply %}
                    {% else %}
                        {% set supply = {'mu' : '', sigma : ''} %}
                    {% endif %}
                    {{ form.input(supply.mu, "supply.mu", label='В среднем:', unit='ч') }}
                    {{ form.input(supply.sigma, "supply.sigma", label='Отклонение:', unit='ч') }}
                {% endwith %}
            </fieldset>
            
            <fieldset>
                <div class="legend">Цены</div>
                {% with %}
                    {% if input.price is defined %}
                        {% set price = input.price %}
                    {% else %}
                        {% set price = {'demand' : '', 'supply' : '', 'fine' : '', 'storage' : ''} %}
                    {% endif %}
                    {{ form.input(price.supply, "price.supply", label='Цена поставки:', unit='р') }}
                    {{ form.input(price.storage, "price.storage", label='Цена хранения:', unit='р') }}
                    {{ form.input(price.fine, "price.fine", label='Цена недостачи:', unit='р') }}
                {% endwith %}
            </fieldset>
            <div class="row submit">
                {# { form.permalink(shorten) } #}
                <input type="reset" value="Сбросить" />
                <input type="submit" value="Считать" />
            </div>
        </form>
    </div>
{% endblock %}

{% block output %}
    <div class="block">
        <div class="title">Результаты моделирования</div>
        <div class="content" style="padding-top: 8px">
            {% with %}
                {% if output.agregated %}
                    {% set mgc    = output.max_guaranteed_costs %}
                    {% set output = output.mean %}
                {% else %}
                    {% set mgc = output.balance.costs %}
                {% endif %}
                <table style="width: 100%">
                    <caption>Затраты</caption>
                    
                    <tr>
                        <th>
                            {{ form.color('#008090') }}
                            Поставки
                        </th>
                        <td>
                            {{ output.units.supply }}
                            <span class="unit" style="width: 36px">партий</span>
                        </td>
                        <td>{{ output.balance.supply }}
                            <span class="unit">р</span>
                        </td>
                        {% if output.balance.costs %}
                            <td rowspan="6" style="background: url(/images/pie-background.png) no-repeat; background-position: 18px 18px; border-left: solid 2px #CCCCCC">
                                <img alt="Заявки" src="http://chart.apis.google.com/chart?cht=p&amp;chs=219x219&amp;chco=008090,FBFF53,FF4D6F&amp;chds=0,{{ output.balance.costs }}&amp;chd=t:{{ output.balance.supply }},{{ output.balance.storage }},{{ output.balance.fine }}&amp;chf=bg,s,FFFFFF00" />
                            </td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <th>
                            {{ form.color('#FBFF53') }}
                            Хранение
                        </th>
                        <td>{{ output.units.storage|round(3) }}
                            <span class="unit" style="width: 36px">единиц</span>
                        </td>
                        <td>{{ output.balance.storage|round(2) }}
                            <span class="unit">р</span>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            {{ form.color('#FF4D6F') }}
                            Недостачи
                        </th>
                        <td>{{ output.units.fine }}
                            <span class="unit" style="width: 36px">случаев</span>
                        </td>
                        <td>{{ output.balance.fine }}
                            <span class="unit">р</span>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>Средние затраты</th>
                        <td colspan="2">
                            {{ output.balance.costs|round(2) }}
                            <span class="unit">р</span>
                        </td>
                    </tr>
                    
                    <tr>
                        <th colspan="3" class="section">Максимальные гарантированные затраты</th>
                    </tr>
                    
                    <tr>
                        <td class="poster" colspan="3">
                            {{ mgc|round(2) }}
                            <span class="unit">р</span>
                        </td>
                    </tr>
                    
                </table>
            {% endwith %}
            
            {% if False %}
                <pre>
                    {{ shorten|pprint }}
                </pre>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block about %}
<div id="content">
    <h1>Модель склада</h1>
    <p>Модель склада, или <em>модель управления запасами</em>, описывает склад, на котором хранится запас некой продукции &mdash; допустим, тетрадей.</p>
    
    <p>К нам время от времени приходят покупатели, которые желают купить по одной тетради каждый. Мы имеем перед ними договорные обязательства, &mdash; поэтому, если в данный момент у нас товара нет, то мы платим неудовлетворённому покупателю <strong>цену недостачи</strong>.</p>
    
    <p>Чтобы пополнять свои запасы, мы можем обращаться к поставщикам &mdash; фабрикам тетрадей, заказывая у них продукт партиями равного размера, каждую тетрадь &mdash; по определённой <strong>цене поставки</strong>.</p>
    
    <p>Мы бы могли заказать сразу заведомо слишком большое количество тетрадей и таким образом наверняка выполнить свои обязательства, но в сутки за хранение каждой тетради мы платим некую <strong>цену хранения</strong> (охрана, вентиляция помещения и т.п.). Размер склада мы считаем для простоты бесконечным.</p>
    
    <p>Нам необходимо определить, когда заказывать партии тетрадей и каков должен быть размер каждой партии, чтобы мы удовлетворили как можно больше покупателей и наши расходы были минимальны.</p>
    
    <p>Ход выполнения лабораторной работы по данной модели описан <a href="/help/warehouse">в методических указаниях</a>.
</div>
{% endblock %}


