{% extends "sm.html" %}

{% block content %}
<div class="block aside right">
  <div class="title">Что это?</div>
  <div class="content">
    <p><strong>Simulation Modeling</strong> &mdash; коллекция имитационных моделей для студентов, изучающих курс <a href="http://fdo.tusur.ru">ФДО ТУСУР</a> <strong>"Имитационное моделирование экономических процессов"</strong> (А. А. Мицель, Е. Б. Грибанова. Томск, ТМЦ ДО, 2007).</p>
  </div>
</div>

<div id="content">
  <h1>Список моделей</h1>
  <ul id="models" class="clear">{% for model in models.items %}
    <li>
      <a href="/{{ model.0 }}">
        <span class="inner">
          <img alt="{{ model.1 }}" src="/images/models/{{ model.0 }}.png" />
          <span class="caption">{{ model.1 }}</span>
        </span>
      </a>
    </li>
  {% endfor %}</ul>
</div>
{% endblock %}
