{% extends "model.html" %}

{% block content %}
  <div class="block aside left">
    <div class="title">Параметры</div>
    <form action="/mss" method="post">
      <table class="properties">
        <tr>
          <th class="label">Число каналов:</th>
          <td>
            {% input "channelsCount" %}
          </td>
        </tr>
        <tr>
          <th class="label">Продолжительность:</th>
          <td>
            {% input "totalTime" %}
            <span class="unit">ч</span>
          </td>
        </tr>
        
        <tr><th colspan="2" class="section">Потоки заявок</th></tr>
        {% distribution "Входной:" "streams.in" %}
        {% distribution "Выходной:" "streams.out" %}

        <tr><th colspan="2" class="section">Очередь</th></tr>
        <tr>
          <th class="label">Размер:</th>
          <td>
            {% input "queue.size" %}
            <span class="unit">мест</span>
          </td>
        </tr>
        <tr>
          <th class="label">Время ожидания:</th>
          <td>
            {% input "queue.time" %}
            <span class="unit">ч</span>
          </td>
        </tr>
        
        <tr><th colspan="2" class="section">Сбои</th></tr>
        <tr>
          <th class="label">Наработка на отказ:</th>
          <td>
            {% input "faults.problems" %}
            <span class="unit">ч</span>
          </td>
        </tr>
        <tr>
          <th class="label">Время ремонта:</th>
          <td>
            {% input "faults.repairs" %}
            <span class="unit">ч</span>
          </td>
        </tr>
        <tr>
          <th class="label">Вероятность аварии:</th>
          <td>{% input "faults.destructive" %}</td>
        </tr>

        <tr>
          <td class="submit" colspan="2">
            <input type="submit" value="Считать" />
          </td>
        </tr>
      </table>
    </form>
  </div>
  
  
  <div id="output" class="aside-left">
    {% if output %}<div class="block">
      <div class="title">Качество работы системы</div>
      <div class="content" style="padding-top: 18px">
        <table class="left">
          <caption>Статистика заявок</caption>
          <tbody>
            <tr>
              <th>Всего</th>
              <td>{{ output.quality.abs.total }}</td>
            </tr>
            <tr>
              <th class="nested">
                <span class="color" style="background: #008090">&nbsp;</span>
                Принято
              </th>
              <td>{{ output.quality.abs.accept }}</td>
            </tr>
            <tr>
              <th class="nested">Отклонено</th>
              <td>{{ output.quality.abs.reject }}</td>
            </tr>
            
            <tr>
              <th class="nested twice">
                <span class="color" style="background: #FBFF53">&nbsp;</span>
                По времени ожидания
              </th>
              <td>{{ output.quality.abs.timeout }}</td>
            </tr>
            
            <tr>
              <th class="nested twice">
                <span class="color" style="background: #1560BD">&nbsp;</span>
                По длине очереди
              </th>
              <td>{{ output.quality.abs.sizeout }}</td>
            </tr>
            
            <tr>
              <th class="nested twice">
                <span class="color" style="background: #FF4D6F">&nbsp;</span>
                По исчерпанию времени
              </th>
              <td>{{ output.quality.abs.shutdown }}</td>
            </tr>
          </tbody>
        </table>
        
        <img alt="Качество работы системы" class="chart" style="width: 270px; height: 180px; margin: 9px 18px" src="http://chart.apis.google.com/chart?cht=p&amp;chs=270x180&amp;chl={{ output.quality.pc.accept }}%25|{{ output.quality.pc.timeout }}%25|{{ output.quality.pc.sizeout }}%25|{{ output.quality.pc.shutdown }}%25&amp;chco=008090,FBFF53,1560BD,FF4D6F&amp;chds=0,{{ output.quality.abs.total }}&amp;chd=t:{{ output.quality.abs.accept }},{{ output.quality.abs.timeout }},{{ output.quality.abs.sizeout }},{{ output.quality.abs.shutdown }}" />
      </div>
    </div>
    
    <div class="block">
      <div class="title">Степень загрузки системы</div>
      <div class="content">
        <img alt="Состояния системы по их вероятности" class="chart" src="http://chart.apis.google.com/chart?cht=lc&amp;chs=540x212&amp;chds=0,{{ output.load.longestState }}&amp;chxt=y,x&amp;chm=B,CCCCFF,0,0,0&amp;chxr=0,0,{{ output.load.longestState }}|1,0,{{ output.load.states|length|add:"-1" }}&amp;chco=1560BD&amp;chd=t:{{ output.load.states|join:"," }}">
        <p>По оси абсцисс отложено количество заявок, которое находится в системе. По оси ординат отложено время, в течение которого в системе было именно столько заявок, в процентах к общей продолжительности работы. <strong>FIXME</strong>.</p>
      </div>
    </div>{% else %}
    <div id="content">
        <h1>Система массового обслуживания</h1>
        <p>Система массового обслуживания &mdash; одна из наиболее часто встречающихся моделей в экономике.</p>
        <p><em><strong>TODO:</strong> не забыть воды налить</em>
    </div>
    {% endif %}
  </div>
{% endblock %}
